<h4><% if @list.user == current_user %>
    <div class="pull-right">
    <%= link_to new_item_path do %><i class="btn btn-default fa fa-plus"></i><% end %>
    <%= link_to edit_list_path(@list) do %><i class="btn btn-default pull-right fa fa-pencil"></i><% end %>
        </div>
  <% end %></h4>
<h1><%= @list.name %> <small>by <%= link_to @list.user.username, @list.user %></small></h1>

<p class="lead"><em><%= @list.description %></em></p>

<div class="row">
  <%= render 'items/items', items: @list.items %>
</div>
