<br>
<div class="row">
  <div class="col-md-4">
    <% if @user == current_user %>
      <%= link_to edit_user_registration_path do %><i class="btn btn-default pull-right fa fa-pencil"></i><% end %>
    <% end %>
    <h1><%= @user.username %></h1>
    <p><%= @user.firstname %> <%= @user.lastname %></p>
    <p><em><%= @user.description %></em></p>

    <% unless @user.communities.blank? %>
      <h3>Belongs to</h3>
      <% @user.communities.each do |community| %>
        <%= link_to community.name, community, class:"label label-primary" %>
      <% end %>
    <% end %>

  </div>



</div>

<div class="row">
  <h1><%= @user.username %>'s lists</h1>
  <%= render 'lists/lists_list', lists: @user.lists, show_users: false %>
</div>
