<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.url_field :url, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class:"form-control" %>
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label>
        <%= f.check_box :important %><%= f.label :important %>
      </label>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :list_id %><br>
    <%= f.select :list_id, options_from_collection_for_select(@lists, :id, :name, selected: @item.list_id), {}, { :class => "form-control" } %>
  </div>
  <div class="field">
    <%= f.label :tag_list, "Tags, separate by commas" %><br>
    <%= f.autocomplete_field :tag_list, autocomplete_tag_name_tags_path, :'data-delimiter' => ', ', value: @item.tag_list.to_s, class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>
