<div class="panel panel-default">
  <div class="panel-body">

    <% items.each do |item| %>
      <div class="col-md-4">

        <div class="panel link-box <%= item.important ? 'panel-primary' : 'panel-default' %>">

          <div class="panel-heading">
            <% if can? :manage, item %>
              <div class="pull-right">
                <%= link_to edit_item_path(item) do %><i class="fa fa-pencil"></i><% end %>
                <%= link_to item, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-times"></i><% end %>
              </div>
            <% end %>
            <h3 class="panel-title">
              <%= item.name %>
              <% if show_users %><small>by <%= link_to item.user.username, item.user %></small><% end %>
            </h3>
          </div>
          <div class="panel-body">
            <small>
              <%= item.description %><br>
            </small>
            <em><%= link_to item.url, item.url, target: '_blank' %></em>
          </div>
          <div class="panel-footer">
            <% if item.important %><div class="label label-primary"><i class="fa fa-exclamation-circle"></i> important</div><% end %>
            <%= raw item.tag_list.map { |tag| link_to tag, tag_path(tag), class:"label label-success"}.join(' ') %>
          </div>

        </div>
      </div>

    <% end %>
  </div>
</div>